{% extends "AlphaLemonCmsBundle:Editor:base_editor.html.twig" %}

{% block body %}
<div class="btn-group collapsed-list" {{ editor|raw }}>
    {% for key, button in buttons %}
        {% set blockSlotName = parent.getId ~ "-" ~ key %} 
        {% set attributes = 'data-item=' ~ key %} 
        {{ renderIncludedBlock(blockSlotName, parent, button.type, true, "", attributes) }}
    {% endfor %}
</div>
{% endblock %}
