<div class="pull-left">
{% include "AlphaLemonCmsBundle:List:_table_list.html.twig" %}
</div>
<div class="pull-right" style="margin-left: 20px">
{% include "AlphaLemonCmsBundle:Item:_item.html.twig" %}
</div>
<div class="clearfix" />
