<div class="pull-left">
    <form id="al_item_form">
        <table>
            {% include "AlphaLemonCmsBundle:Item:_form_renderer.html.twig" %}
            <tr>
                <td colspan="2" style="text-align: right">
                    <a class="al-editor-items btn" href="#" >Menu items</a>
                    <a class="al_editor_save btn btn-primary" href="#" >Save</a>
                </td>
            </tr>
        </table>        
    </form>
</div>
<div id="al-dropdown-menu-items" class="pull-left" style="display:none;"></div>
<div class="clearfix"></div>
