<div class="pull-left">
    {% include "AlphaLemonCmsBundle:Editor:base_editor_form.html.twig" %}
</div>
<div id="al-dropdown-menu-items" class="pull-left" style="display:none;"></div>
<div class="clearfix"></div>
